{% extends 'index.html' %}

{% block headerBlock %}
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="{% url 'homePage' %}">HRAS</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="{% url 'homePage' %}">Home</a></li>
        <li><a class="nav-link scrollto" href="{% url 'homePage' %}#about">About</a></li>
        <li><a class="nav-link scrollto" href="{% url 'homePage' %}#contact">Contact</a></li>
        {% comment %} <li><a class="getstarted scrollto" href="#about">Get Started</a></li> {% endcomment %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
{% endblock headerBlock %}

{% block mainContent %}

<section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Payment Portal</h2>
        <p>Please enter your credit card details.</p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-0 mt-5 d-flex"></div>
        <div class="col-lg-6 col-md-8 col-sm-12 mt-md-5 mt-sm-0 d-flex align-items-stretch">
			<form action="{% url 'paymentCheck' %}" method="post" role="form" class="php-email-form">
			{% csrf_token %}
            <div class="form-group mt-3">
              <label for="cardNo">Card Number</label>
              <input type="number" class="form-control" name="cardNo" id="cardNo" value={{ cardNo }} required>
            </div>
            <div class="form-group mt-3">
              <label for="expiryMonth">Expiry Month</label>
              <input type="number" class="form-control" name="expiryMonth" id="expiryMonth" value={{ expiryMonth }} required>
            </div>
            <div class="form-group mt-3">
                <label for="expiryYear">Expiry Year</label>
                <input type="number" class="form-control" name="expiryYear" id="expiryYear" value={{ expiryYear }} required>
            </div>
            <div class="form-group mt-3">
                <label for="name">Card Holder Name</label>
                <input type="text" class="form-control" name="name" id="name" value={{ name }} required>
            </div>
            <div class="form-group mt-3">
                <label for="securityCode">Security Code</label>
                <input type="number" class="form-control" name="securityCode" id="securityCode" value={{ securityCode }} required>
            </div>
            <hr>
            <div class="my-3 text-center"><p>Payment Details:</p></div>
            <div class="form-group mt-3">
                <label for="hostelName">Hostel Name</label>
                <input type="text" class="form-control" name="hostelName" id="hostelName" value={{ hostelName }} disabled>
            </div>
            <div class="form-group mt-3">
                <label for="roomNumber">Room Number</label>
                <input type="number" class="form-control" name="roomNumber" id="roomNumber" value={{ roomNumber }} disabled>
            </div>
            <div class="form-group mt-3">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" name="amount" id="amount" value={{ amount }} disabled>
            </div>
            <div class="my-3 text-center"><button type="submit">Submit</button></div>
            <div class="text-center" style="color:red">{{ err }}</div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

{% endblock mainContent %}
