{% extends 'index.html' %}

{% block headerBlock %}
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{% url 'homePage' %}">HRAS</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
{% endblock headerBlock %}

{% block mainContent %}

<section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Student Signup</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-0 mt-5 d-flex"></div>
        <div class="col-lg-6 col-md-8 col-sm-12 mt-md-5 mt-sm-0 d-flex align-items-stretch">
			<form action="{% url 'studentSignupCheck' %}" method="post" role="form" class="php-email-form">
			{% csrf_token %}
            {{ form }}
            <div class="my-3 text-center"><button type="submit">Submit</button></div>
            <div class="text-center" style="color:red">{{ err }}</div>
            {% comment %} <div class="text-center">Don't have an account yet? <a href="#"><u>Click here</u></a> to sign up.</div> {% endcomment %}
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

{% endblock mainContent %}
